.border-radius(@radius){
	.border-bottom-radius(@radius);
	.border-top-radius(@radius);
}

.table-striped {
	> tbody > tr:nth-child(odd) {
		> td,
		> th {
			background-color: @table-bg-accent;
		}
	}
}