div.mhwp_hartman-drag-drop {
	border: 4px dashed #ddd;
	height: 200px;
}

div.mhwp_hartman-image-uploading-bar {
	position: absolute;
	width: 100%;
	height: 0%;
	bottom: 0;
}
div.mhwp_hartman-image-uploading-status {
	position: absolute;
}
li.mhwp_hartman-image-error {
	border: 3px solid #c00;
	background: #903838;
}
.mhwp_hartman-image-uploading-status .mhwp_hartman-loader {
	width: 64px;
	height: 64px;
	top: 43px;
	left: 43px;
	position: relative;
}
