/* =Styles for 'normal' meta boxes
-------------------------------------------------------------- */

.mhwp_hartman-field {
	margin: 10px 0;
}
.mhwp_hartman-label,
.mhwp_hartman-input {
	display: inline-block;
	vertical-align: top;
}
.mhwp_hartman-label {
	width: 24%;
}
.mhwp_hartman-label.required {
	font-weight: bold;
}
.mhwp_hartman-label.required > span
{
	color: #c00;
}

/* 75% if field has label, 100% if no label */
.mhwp_hartman-input {
	width: 100%;
}
.mhwp_hartman-label ~ .mhwp_hartman-input {
	width: 75%;
}
.mhwp_hartman-input h4 {
	margin: 0;
}
.mhwp_hartman-textarea {
	resize: vertical;
}

/* Clone */
.mhwp_hartman-clone {
	min-height: 24px;
}
.mhwp_hartman-clone > input[type="radio"],
.mhwp_hartman-clone > input[type="checkbox"] {
	margin: 6px 0 0 4px;
}
.mhwp_hartman-button {
	display: inline;
	float: right;
}

/* Fix width to not overlap button for cloned sliders */
.mhwp_hartman-clone .mhwp_hartman-slider {
	width: 80%;
	margin: 6px 0 0;
}

/* Fix buttons after sliders */
.clearfix + .mhwp_hartman-button {
	margin-top: -16px;
}

/* Fix empty block below admin footer (issue #24) */
#ui-datepicker-div {
	display: none;
}

/* jQuery validation */
label.error {
	padding-left: 3px;
	color: red;
}
input.error,
textarea.error,
select.error {
	border: #c00 solid 1px !important;
	background: #ffebe8 !important;
}

/* =Styles for 'side' meta boxes
-------------------------------------------------------------- */

#side-sortables .mhwp_hartman-label,
#side-sortables .mhwp_hartman-input {
	width: 100%;
}