//Grid
// This variables are needed when grid is recalculated
@gridColumns:             12;
@fluidGridGutterWidth:    2.5%;
@negative_fluidGridGutterWidth: -@fluidGridGutterWidth;
//@fluidGridColumnWidth: (100%-((@gridColumns - 1)*@fluidGridGutterWidth))/@gridColumns;
@vc_col-12: 100%;
@vc_col-11: 91.45833333333334%;
@vc_col-10: 82.91666666666667%;
@vc_col-9: 74.375%;
@vc_col-8: 65.83333333333334%;
@vc_col-7: 57.29166666666667%;
@vc_col-6: 48.75%;
@vc_col-5: 40.208333333333336%;
@vc_col-4: 31.666666666666668%;
@vc_col-3: 23.125%;
@vc_col-2: 14.583333333333334%;
@vc_col-1: 6.041666666666667%;

// VC Variables
@vc_grey:					@gray-lighter;
@vc_grey_hover:				@gray-light;
@vc_smaller_font:           80%;
@vc_responsive_max_w:       480px;

@vc_element_margin_bottom: 35px;
@vc_margin_bottom_third: @vc_element_margin_bottom/3;
@vc_margin_bottom_gold: @vc_element_margin_bottom/1.61;

//vc_call_to_action.less
@vc_call_to_action_bg:      @vc_grey;
@vc_call_to_action_border:  @vc_grey_hover;
@vc_cta_button_w: 100% - 70% - @fluidGridGutterWidth;

//vc_google_maps.less
@vc_google_maps_bg:         @vc_grey;

//vc_image_gallery.less
@vc_image_slider_link:         @vc_grey;
@vc_image_slider_link_active:  @vc_grey_hover;//darken(@vc_grey, 20%);

//vc_post_slider.less
@vc_post_slider_caption_bg:    @vc_grey;

//vc_progress_bar.less
@vc_progress_bar_bg:           @vc_grey;

//vc_separator.less
<<<<<<< HEAD
@vc_separator_border:          @brand-success;
=======
@vc_separator_border:          @vc_grey;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e

//vc_tabs_tour_accordion.less
@tour_nav_spanX: 4;
@tour_nav_width: @vc_col-1 * @tour_nav_spanX + @fluidGridGutterWidth * (@tour_nav_spanX - 1);
@tour_slides_width: 100% - @tour_nav_width;

<<<<<<< HEAD
@vc_tab_bg_active:            @brand-success;
=======
@vc_tab_bg_active:            @gray;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
@vc_tab_bg:                   lighten(@vc_tab_bg_active, 15%);

//vc_teaser_grid.less
@vc_teaser_grid_w: 100% + @fluidGridGutterWidth;
@vc_teaser_grid_col-3: 100% / @gridColumns * 3 - @fluidGridGutterWidth - 0.08%;
@vc_teaser_grid_col-4: 100% / @gridColumns * 4 - @fluidGridGutterWidth - 0.08%;
@vc_teaser_grid_col-6: 100% / @gridColumns * 6 - @fluidGridGutterWidth - 0.05%;
@vc_teaser_grid_col-12: 100% - @fluidGridGutterWidth;

@vc_carousel_arrows_bg:        @vc_grey;
@vc_carousel_arrows_bg_hover:  @vc_grey_hover;

//vc_twitter.less
@vc_twitter_li_border:         @vc_grey;
@vc_twitter_tweet_time_color:  @vc_grey;
