// ALERT STYLES
// ------------

// Base alert styles
.wpb_alert {
<<<<<<< HEAD
  .alert;
=======
	.alert;
	.alert-warning;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
}

// Alternate styles
// ----------------
.wpb_alert-success {
  .alert-success;
}
.wpb_alert-danger,
.wpb_alert-error {
  .alert-danger;
}
.wpb_alert-info {
  .alert-info;
}

.wpb_alert .messagebox_text {
	padding-left: 28px;
<<<<<<< HEAD
	background: url(../img/alert.png) no-repeat left center;
}
.wpb_alert-info .messagebox_text {
	background: url(../img/info.png) no-repeat left center;
}
.wpb_alert-success .messagebox_text {
	background: url(../img/tick.png) no-repeat left center;
}
.wpb_alert-error .messagebox_text {
	background: url(../img/exclamation.png) no-repeat left center;
=======
	background: url(../img/icons/alert.png) no-repeat left center;
}
.wpb_alert-info .messagebox_text {
	background: url(../img/icons/info.png) no-repeat left center;
}
.wpb_alert-success .messagebox_text {
	background: url(../img/icons/tick.png) no-repeat left center;
}
.wpb_alert-error .messagebox_text {
	background: url(../img/icons/exclamation.png) no-repeat left center;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
}