.wpb_button{
	.btn;
<<<<<<< HEAD
}

.wpb_btn-primary{
	.btn-primary;
=======
	background: @gray-lighter;
}

.wpb_btn-primary{
	.btn-warning;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
}

.wpb_btn-success{
	.btn-success;
}

.wpb_btn-info{
	.btn-info;
}

.wpb_btn-danger{
	.btn-danger;
}

.wpb_btn-warning{
<<<<<<< HEAD
	.btn-warning;
=======
	.btn-primary;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
}

.wpb_btn-inverse{
	background: @gray-dark;
	color: @body-bg;
	&:hover{
		color: @body-bg;
	}
<<<<<<< HEAD
}

.wpb_wpb_button{
	.btn-link;
=======
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
}