@stop_standalone_compiling: @vc_grey;
/* Flickr stream
---------------------------------------------------------- */
.flickr_badge_image {
    margin: 0 10px 10px 0px;
    width: 72px;
    height: 72px;
    float: left;

    //border: 1px solid @vc_grey;
    background: none;
    padding: 0;
    
    a { border: none; }
    
    img {
	    margin: 0;
	
	    overflow: hidden;
	    position: relative;
	
	    width: 100%;
	    height: 100%;
	    max-width: 100%;
	    max-height: 100%;
	}
}


.wpb_flickr_widget {
  p.flickr_stream_wrap {
      clear: both;
      margin-bottom: 0;
      font-size: @vc_smaller_font;
      a {
  	    background-image: url(../img/flickr.png);
  	    background-repeat: no-repeat;
  	    background-position: left center;
  	    padding-left: 25px;
  	    display: inline-block;
  	}
  }
}