.wpb_separator,
.vc_text_separator {
	border-bottom: 1px solid @vc_separator_border;
}
/* Separator
---------------------------------------------------------- */
.wpb_separator {
	clear: both;
	height: 1px;
}

/* Text Separator
---------------------------------------------------------- */
.vc_text_separator {
	//position: relative;
	//top: -20px;
	clear: both;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	div {
		display: inline-block;
		background-color: @body-bg;
		padding: 1px 1em;
		position: relative;
<<<<<<< HEAD
		top: -17px;
=======
		top: -18px;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
		font-size: 30px;
		line-height: 30px;
	}
}

.separator_align_center {
	text-align: center;
}
.separator_align_left {
	text-align: left;
}
.separator_align_right {
	text-align: right;
}