// Make sure links dont have outline
.wpb_content_element .wpb_tabs_nav li,
.wpb_accordion_section .wpb_accordion_header,
.wpb_tour_next_prev_nav {
  a:focus {
    outline: none;
  }
}

/** Tabs/Tour Common **/
.wpb_content_element {
  .wpb_tour_tabs_wrapper,
  .wpb_tabs_nav {
    padding: 0;
  }
  
  .wpb_tabs_nav {
    margin: 0;
    padding-left: 0 !important;
    text-indent: inherit !important;
    #content & { //#content for twenty ten theme
      margin: 0;
    }
    li {
      background-color: @vc_tab_bg;
      white-space: nowrap;
      padding: 0;
      .no_bullet_fix();
      a{
<<<<<<< HEAD
	      color: darken(@brand-success, 30%);
=======
	      color: @white;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
      }
      &.ui-tabs-active,
      &:hover {
        background-color: @vc_tab_bg_active;
      }
      &.ui-tabs-active a {
        cursor: default;
      }
    }
  }
  
  .wpb_tour_tabs_wrapper {
  	margin-bottom: 45px;
    .wpb_ui-tabs-hide {
      display: none;
    }
  }
}

/** Tabs/Tour/Accordion Common **/
.wpb_content_element {
  .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
  .wpb_accordion_header a {
    border-bottom: none;
    text-decoration: none;
    display: block;
    
    padding: 0.5em 1em;
  }
  
  .wpb_accordion_wrapper .wpb_accordion_header{
	background-color: @vc_tab_bg_active;	  
  }
  &.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
    background-color: @body-bg;
  }
  .wpb_tour_tabs_wrapper .wpb_tabs_nav li,
  .wpb_accordion_wrapper .wpb_accordion_header {
    .wpb_transition();
  }
  
  .wpb_tour_tabs_wrapper .wpb_tab,
  .wpb_accordion_wrapper .wpb_accordion_content {
    padding: 1em;
    > .wpb_content_element:last-child,
    .wpb_row:last-child > div > div.wpb_wrapper .wpb_content_element:last-child {
      margin-bottom: 0; // remove bottom margin for last content element in the last row
    }
  }
  
  .wpb_accordion_wrapper .wpb_accordion_content{
   	border: 1px solid darken(@vc_tab_bg_active, 15%);
	margin-top: -1px;
  }
	
}


/** Tabs **/
.wpb_tabs {  
  .wpb_tabs_nav {
  	border-bottom: 1px solid @vc_tab_bg_active;
    li {
      float: left;
      margin: 0 1px 0 0;
      .border-top-radius(5px);
      a{
<<<<<<< HEAD
	      color: darken(@brand-success, 30%);
=======
	      color: @white;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
      }
    }
  }
}

/** Tour **/
.wpb_tour {
  .wpb_tabs_nav {
    float: left;
    width: @tour_nav_width;
    li {
      margin: 0 0 1px 0;
      .border-left-radius(5px);
    }
  }
  .wpb_tour_tabs_wrapper .wpb_tab {
    .wpb_box_sizing();
    border-left: 1px solid @vc_tab_bg_active;   
    float: left;
    width: @tour_slides_width;
    padding: 0 0 0 @vc_margin_bottom_gold;
    margin-bottom: 20px;
  }
}
.wpb_tour_next_prev_nav {
  margin-left: @tour_nav_width;
  padding-left: @vc_margin_bottom_gold;
  font-size: @vc_smaller_font;
<<<<<<< HEAD
=======
  display: none;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
  
  a {
    border: 1px solid @vc_tab_bg_active;
    text-decoration: none;
    .border-radius(10px);
    padding: 10px;
    margin-top: 10px;
    &:hover {
      text-decoration: none;
	  background: darken(@vc_tab_bg_active, 15%);
<<<<<<< HEAD
	  color: @body-bg;
=======
	  color: @white;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
    }
  }
  
  span {
    width: 48%;
    display: inline-block;
    padding-top: 1em;//10px;
    float: left;
    
    &.wpb_next_slide {
      text-align: right;
      float: right;
    }
  }
}

/** Accordion **/
.wpb_accordion {
  .wpb_accordion_wrapper {
    .wpb_accordion_header { //h3
      margin: 0 0 1px 0;
      padding-top: 0;
      position: relative;
<<<<<<< HEAD
      background-color: lighten(@brand-success, 15%);
=======
      background-color: lighten(@vc_grey, 15%);
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
      text-transform: none;
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      &:hover{
	      background-color: darken(@vc_tab_bg_active, 15%);
	      a{
<<<<<<< HEAD
	      	color: @body-bg;
=======
	      	color: @white;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
		  }
      }
      a {
        padding-left: 1em;
      }
    }
    
    .ui-state-default,
    .ui-state-active {
      .ui-icon {
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../img/toggle_open.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 0.7em;
        top: 0.7em;
      }
    }
    .ui-state-active{
    	background-color: darken(@vc_tab_bg_active, 15%);
    	a{
<<<<<<< HEAD
	    	color: @body-bg;
=======
	    	color: @white;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
    	}
		.ui-icon {
			background-image: url(../img/toggle_close.png);
		}
	}    
  }
}

/* tabs_tour_accordion responsive rules */
@media (max-width: @vc_responsive_max_w) {
  .vc_responsive {
    .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav,
    .wpb_tour .wpb_tab,
    .wpb_tour_next_prev_nav {
  	  width: 100%;
  	  float: none;
  	  margin-left: 0;
    }
    .wpb_tour_next_prev_nav {
      width: auto;
      padding: 0 1em;
    }
	
    #content .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav {
  	  margin-bottom: 1em;
    }
    
    //Tabs + Tour
    .wpb_tour {
      .wpb_tab {
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
      }
    }
  }
}