@stop_standalone_compiling: @vc_grey;
/* Toggle / FAQ
---------------------------------------------------------- */
.wpb_toggle,
#content h4.wpb_toggle {
	background: @gray-lighter url(../img/toggle_open.png) 10px center no-repeat;
	padding-left: 35px;
	clear: both;
	margin-top: 0;
	font-size: 16px;
}
.wpb_toggle_title_active,
#content h4.wpb_toggle_title_active {
	background: @gray-lighter url(../img/toggle_close.png) 10px center no-repeat;
}
	.wpb_toggle:hover {
		cursor: pointer;
	}

.wpb_toggle_content {
	display: none;
	overflow: hidden;
	padding: 0px 0px 0px 25px;
	margin-top: 1em;
}
	.wpb_toggle_open {
		display: block;
	}