/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {

	#wrap{
		width: 1172px;
		margin: 30px auto;
		display: block;
		padding: 0px;
		border: 1px solid @gray-light;
		>.container{
			background: @white;
			border: 0px;
			padding: 0px;
		}
		#main{
			padding: 20px 30px;
		}
		#sidebar{
			padding: 10px 30px;
			border-left: 1px solid @gray-lighter;
		}
	}
	
	.navbar{
		#mhwp-menu{
			li{
				a{
					padding-right: 40px;
					padding-left: 40px;
				}
			}
		}
	}
	
	#fullwidth-header{
		.container{
			.row-fluid{
				position: relative;
				.headerInfo{
					position: relative;
					max-width: 1140px;
					left: 0px;
					bottom: -10px;
				}
			}
		}
	}

}