/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) {
	
	#wrap{
		width: 732px;
		margin: 30px auto;
		display: block;
		padding: 0px;
		border: 1px solid @gray-light;
		>.container{
			background: @white;
			border: 0px;
			padding: 0px;
		}
		
		#main{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	
	#fullwidth-header{
		.container{
			.row-fluid{
				position: relative;
				.headerInfo{
					position: relative;
					max-width: 700px;
					left: 0px;
					bottom: 5px;
				}
			}
		}
	}

	
}