/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {
	
	#wrap{
		width: 942px;
		margin: 30px auto;
		display: block;
		padding: 0px;
		border: 1px solid @gray-light;
		>.container{
			background: @white;
			border: 0px;
			padding: 0px;
		}
	}
	
	#fullwidth-header{
		.container{
			.row-fluid{
				position: relative;
				.headerInfo{
					position: relative;
					max-width: 910px;
					left: 0px;
					bottom: 5px;
				}
			}
		}
	}
	
	.navbar #mhwp-menu{
		display: block;
	}

}
