body{
<<<<<<< HEAD

	*{
    	box-sizing: border-box;
	}
	height: 100%;
	background: @body-bg;
	
=======
	
	background: @gray-lighter;
	// Images
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
	img{
		max-width: 100%;
		height: auto;
	}
	
<<<<<<< HEAD


   	//////////Paragraphs//////////
   	p {
   		margin-bottom: 1em;
   		//margin-top: 13px; //orig
   	}
   	
	//////////Headers//////////
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6 {
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
		a{
			text-decoration: none;
		}
	}
	
	h1 {
		font-size: 40px;
		line-height: 48px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	h2 {
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	
	h3 {
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	
	h4 {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	
	h5 {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	h6 {
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	h1.page-header-title{
		margin-top: 0px;	
	}
   	
   	//////////Links//////////
   	a {
    	color: darken(@brand-success, 20%);
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		&:hover{
			color: @brand-success;
		}
		&:link {
			-webkit-tap-highlight-color: @brand-warning;
		}
	}
}
=======
}

// Wrap =====================================================================

#wrap{
	width: 100%;
	>.container{
		background: @white;
	}
	#main{
		padding: 20px 0px;
		background: @white;
	}
}

.home{	
	#wrap{
		#main{
			padding: 0px;
			margin-top: -1px;
		}
	}
}

// Navbar =====================================================================


// Buttons ====================================================================


// Typography =================================================================

.text-primary {
	color: @brand-primary;
}

.text-success {
	color: @brand-success;
}

.text-danger {
	color: @brand-danger;
}

.text-warning {
	color: @brand-warning;
}

.text-info {
	color: @brand-info;
}

// Tables =====================================================================

.table {

	tr.success,
	tr.warning,
	tr.danger {
		color: #fff;
	}
}

// Forms ======================================================================

	.has-warning {
		.help-block,
		.control-label {
			color: @brand-warning;
		}
	
		.form-control,
		.form-control:focus {
			border: 2px solid @brand-warning;
		}
	}
	
	.has-error {
		.help-block,
		.control-label {
			color: @brand-danger;
		}
	
		.form-control,
		.form-control:focus {
			border: 2px solid @brand-danger;
		}
	}
	
	.has-success {
		.help-block,
		.control-label {
			color: @brand-success;
		}
	
		.form-control,
		.form-control:focus {
			border: 2px solid @brand-success;
		}
	}

// Navs =======================================================================

	.pagination {
	
		a {
			color: #fff;
		}
	
		.disabled {
			&>a,
			&>a:hover,
			&>a:focus,
			&>span {
				background-color: lighten(@brand-success, 15%);
			}
		}
	}
	
	.pager {
		a {
			color: #fff;
		}
	
		.disabled {
			&>a,
			&>a:hover,
			&>a:focus,
			&>span {
				background-color: lighten(@brand-success, 15%);
			}
		}
	}

// Indicators =================================================================

	.alert {
	
		a,
		.alert-link {
			color: #fff;
			text-decoration: underline;
		}
	}

// Progress bars ==============================================================

	.progress {
		height: 10px;
		.box-shadow(none);
	}

// Containers =================================================================
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
