.breadcrumbContainer{
<<<<<<< HEAD
	.breadcrumb{
		background: @brand-success;
		.border-radius(0px);
		color: @body-bg;
		a{
			color: darken(@brand-success, 30%);
=======
	width: 100%;
	float: left;
	.breadcrumb{
		float: left;
		.border-radius(0px);
		background: @gray-dark;
		color: @white;
		font-size: 11px;
		line-height: 11px;
		a{
			color: @brand-primary;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
		}
	}
}