<<<<<<< HEAD
.preFooter{
	background: @gray-lighter;
	color: @gray;
	text-align: center;
	padding: 0;
	margin: 0px;
}
footer{
	&#footer{
		background: @gray;
		color: @body-bg;
		font-weight: 100;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6{
			color: @body-bg;
		}
		h3{
			border-bottom: 1px solid @gray-light;
			font-size: 24px;
		}
		a{
			color: @gray-lighter;
			&:hover{
				color: lighten(@link-color, 20%);
			}
		}
		.topfooter{
			min-height: 125px;
		}
		.topfooter > .container, 
		.bottomfooter > .container{
			padding: @padding-large-vertical @padding-large-horizontal;
		}
		.bottomfooter .container .container-inner{
			border-top: 1px solid @gray-lighter;
			padding-top: 15px;
			p{
				margin-bottom: 0px;
			}
		}
		.col-3{
			width: 23%;
		}
=======
footer{
	&#footer{
		background: @gray-light;
		.topfooter{
			padding-top: 30px;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6{
				
			}
			h3{
				margin-top: 5px;
				margin-bottom: 20px;
				font-weight: 100;
				font-size: 24px;
			}
			a{
				
				&:hover{
					
				}
			}
			.socialLinks{
				list-style: none;
				li{
					float: left;
				}
			}
		}
		.bottomfooter{
			text-align: center;
			background: @gray-light;
			padding: 20px 0 0 0;
			margin-top: 15px;
		}
		.menu{
			li{
				padding-bottom: 10px;
				border-bottom: 1px solid darken(@gray-light, 10%);
			}
		}
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
	}
}
