// FORMS
// -----------------------------------------------------

select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
	color: @gray-darker;
}

.control-group {

	&.warning {

		.control-label,
		.help-block,
		.help-inline {
			color: @brand-warning;
		}

		input,
		select,
		textarea {
			border-color: @brand-warning;
			color: @gray-darker;
		}
	}

	&.error {

		.control-label,
		.help-block,
		.help-inline {
			color: @brand-danger;
		}

		input,
		select,
		textarea {
			border-color: @brand-danger;
			color: @gray-darker;
		}
	}

	&.success {

		.control-label,
		.help-block,
		.help-inline {
			color: @brand-success;
		}

		input,
		select,
		textarea {
			border-color: @brand-success;
			color: @gray-darker;
		}
	}
}

legend {
	border-bottom: none;
	color: @gray-darker;
}

.form-actions {
	border-top: none;
	background-color: @gray-lighter;
}


.form-search{
	margin-top: 18px;
	margin-bottom: 10px;
	float: right;
	.btn{
		float: right;
		margin: 0px;
	}
	#s{
		width: 221px;
		left: 0px;
	}
}