header{
	&#banner{
		background: @gray;
<<<<<<< HEAD
    	> .container{
			
			.container-inner{
				padding: @padding-large-vertical @padding-large-horizontal;
				.headerPhone{
					margin-top: 5px;
					margin-bottom: -5px;
					.phone{
						font-size: 30px;
						text-align: center;
						color: #fff;
						display: inherit;
					}
				}
				.logo{
					margin-top: 20px;
				}
			}
=======
		color: @white;
		> .topHeader{
			text-align: center;
			padding: 10px 0;
			border-bottom: 1px solid #a2a2a5;
		}
    	> .container{
			background: @gray-dark;
		}
	}
}
#fullwidth-header{
	background: @brand-info;
	min-height: 220px;
	.container{
		position: relative;
		height: auto;
		.headerInfo{
			position: relative;
			bottom: 20px;
			width: 100%;
			left: 0px;
			bottom: 0px;
				h1, 
				h2, 
				h3, 
				h4, 
				h5, 
				h6{
					float: left;
					padding: 10px;
					background: rgba(0,0,0,0.5);
					color: #fff;
					margin-bottom: 0px;
				}
				p{
					float: left;
					padding: 10px;
					background: rgba(0,0,0,0.5);
					color: #fff;
				}
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
		}
	}
}