/* Rev Slider */

.rev_slider_wrapper{
	padding: 0px!important;
	.tp-leftarrow.large{
		background: transparent url(../img/prev-slide.png) center center no-repeat;
	}
	.tp-rightarrow.large{
		background: transparent url(../img/next-slide.png) center center no-repeat;
	}
}

/* Affiliations Slider */

#affiliations{
  position: relative;
  margin-top: 30px;
  button{
    position: absolute;
    height: 150px;
    border-radius: 0;
    border:none;
    background: @brand-success;
    &:hover{
     background: darken(@brand-success, 25%);
    }
    &.prevPage{
      position: absolute;
      top: 0;
      left: 0;
    }
    &.nextPage{
      top: 0;
      right: 0;
    }
    i{
	    color: @body-bg;
    }
  }
  ul{
    &.slidee{
      height: 150px;
      line-height: 150px;
      overflow: hidden;
    }
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
    li{
      float: left;
      width: 190px;
      height: 100%;
      margin: 0 1px 0 0;
      padding: 0;
      background: @body-bg;
      color: #ddd;
      text-align: center;
      cursor: pointer;
      color: @body-bg;
      text-align: center;
      line-height: 150px;
      font-size: @font-size-base;
      img{
        max-width:85px!important;
        max-height:100px!important;
      }
    }
  }
}