.selectnav { 
	display: none; 
}

<<<<<<< HEAD
#site-navigation{
	#gradient.vertical(@gray-lighter; @gray-light; @start-percent: 0%; @end-percent: 100%);
	width: 100%;
	border-top: 3px solid lighten(@brand-success, 10%);
	float: left;
	.nav-menu{
		list-style: none;
		float: left;
		position: relative;
		margin: 0px;
		z-index:1000;
		width: 100%;
		margin-top: -3px;
		.menu-parent-item {
			a {
				&:after {
					content: ' ▾';
				}
			}
		}
		.menu-item{
			float: left;
			position: relative;
			list-style: none;
			display: block;
			border-top: 3px solid transparent;
			&:hover,
			&:active,
			&:focus{
				color: @brand-warning;
				border-top: 3px solid @brand-warning;
			}
			a{
				color: @gray-darker;
				padding: 20px 10px;
				text-decoration: none;
				text-shadow: 1px 1px lighten(@gray-light, 20%);
				position: relative;
				display: inline-block;
				text-transform: uppercase;
			}
			ul.sub-menu{
				z-index: 1000;
			  li.menu-parent-item > a {
					&:after {
						content: ' ‣';
					}
				}
				display: none;
				background: @body-bg;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 50px;
				width: @navbar-base-width;
				border-top-right-radius: 10px;
				border-bottom-radius: 10px;
				.box-shadow(2px 2px 2px rgba(0,0,0,.25));
				li{
					margin-top: 0px;
					border-top: 0px solid lighten(@brand-success, 10%);
					&:hover,
					&:active,
					&:focus{
						color: @body-bg;
						background: transparent;
						border-top: 0px;
					}
					&:first-child{
						a{
							border-top-right-radius: 10px;
						}
					}
					&:last-child{
						a{
							border-bottom-radius: 10px;
						}
					}
					a{
						float: left;
						position: relative;
						width: @navbar-inner-width;
						padding: @navbarInnerPadding;
						display: inline-block;
						border-top: 0px;
						background: transparent;
						text-shadow: 1px 1px lighten(@gray-light, 20%);
						color: @gray-darker;
						&:after{
							content: '';
						}
						&:hover{
							background:  @brand-warning;
							#gradient.vertical(@gray-lighter; @gray-light; @start-percent: 0%; @end-percent: 100%);
							border-top: 0px;
							text-shadow: 1px 1px @gray-darker;
						}
					}
				}
				.current-menu-parent{
					a{
						background:  @brand-warning;
						#gradient.vertical( lighten(@brand-success, 5%), darken(@brand-success, 20%), @start-percent: 0%, @end-percent: 100%);
						text-shadow: 1px 1px @gray-darker;
					}
					li{
						a{
							background: transparent;
							&:hover{
								background:  @brand-warning;
								#gradient.vertical( lighten(@brand-success, 5%), darken(@brand-success, 20%), @start-percent: 0%, @end-percent: 100%);
								border-top: 0px;
								text-shadow: 1px 1px @gray-darker;
							}
						}
					}
					.current-menu-item{
						a{
							color: @body-bg;
							#gradient.vertical( lighten(@brand-success, 5%), darken(@brand-success, 20%), @start-percent: 0%, @end-percent: 100%);
							border-top: 0px;
							text-shadow: 1px 1px @gray-darker;
						}
						li{
							a{
								background: transparent;
							}
						}
					}
				}
	
				.current-menu-item{
					border-top: 0px;
					background: transparent;
					a{
						color: @body-bg;
						#gradient.vertical( lighten(@brand-success, 5%), darken(@brand-success, 20%), @start-percent: 0%, @end-percent: 100%);
						border-top: 0px;
						text-shadow: 1px 1px @gray-darker;
					}
					li{
						a{
							background: transparent;
							&:hover{
								background:  @brand-warning;
								#gradient.vertical( lighten(@brand-success, 5%), darken(@brand-success, 20%), @start-percent: 0%, @end-percent: 100%);
								border-top: 0px;
								text-shadow: 1px 1px @gray-darker;
							}
						}
					}
				}
				.menu-item-object-category{
	
				}
	
				.current-menu-ancestor{
	
				}
				.menu-item-home{
	
				}
				ul{
					top: 0;
					left: 100%;
				}
			}
			&:hover{
				> ul{
					display: block;
					border-top-right-radius: 10px;
					border-bottom-radius: 10px;
				}
			}
		}
		.current-menu-item{
			border-top: 3px solid @brand-warning;
			background: @body-bg;
			a,
			a:visited{
				color: @gray-dark;
	
			}
			ul{
				a,
				a:visited{
					color: @body-bg;
				}
			}
		}
		.menu-item-object-category{
	
		}
		.current-menu-parent{
	
		}
		.current-menu-ancestor{
			color: @brand-warning;
			background: @body-bg;
			border-top: 3px solid @brand-warning;
			a{
	
			}
			ul{
				li{
					a{
						color: @body-bg;
					}
				}
			}
		}
		.menu-item-home{}
	}
}
=======

.navbar{
	margin-bottom: 0px;
	border: 0px;
}
.navbar #mhwp-menu{
	list-style: none;
	float: right;
	position: relative;
	margin: -5px 0px;
	padding: 0px;
	display: block;
	width: 100%;
	text-align: center;
	display: none;
}

.home .navbar #mhwp-menu{
	margin: -1px 0px -5px 0;
}

.navbar #mhwp-menu li{
	float: none;
	position: relative;
	list-style: none;
	display: inline-block;
	margin-right: -4px;
}

.navbar #mhwp-menu li.btn-menu a{
	background: @brand-primary;
	border: 24px solid @gray-dark;
	padding: 5px 7.5px;
	.border-radius(30px);
	&:hover{
		color: @white;
		background: @brand-success;
	}
}

.navbar #mhwp-menu li a{
	color:  #fff;
	padding: 30px 30px;
	position: relative;
	float: left;
	text-decoration: none;
	&:hover{
		color: @brand-primary;
	}
}

.navbar #mhwp-menu >.current-menu-item,
.navbar #mhwp-menu >.current_page_item,
.navbar #mhwp-menu >.current-page-ancestor,
.navbar #mhwp-menu >.current-post-ancestor{
	background: transparent url(../img/ico-active-navv5.png) center 9px no-repeat scroll;
	padding-top: 36px;
	margin-top: -36px;
	a{
		color: @brand-primary;
	}
}

.navbar #mhwp-menu .logo{
	background: url(../img/logo.png) center 18px no-repeat;
	height: 85px;
	width: 175px;
	top: 0px;
	text-indent: 1000px; 
	width: 280px;
	overflow: hidden;
}
.navbar #mhwp-menu li ul{
	display: none;
}

/* SUB NAV */ 

.mhwp-sub-menu-wrapper{
	float: left;
	width: 100%;
	.mhwp-sub-menu{
		list-style: none;
		float: left;
		width: 100%;
		background: @gray-light;
		padding: 0 10px;
		display: block;
		text-align: center;
		border-bottom: 1px solid @gray-light;
		li{
			float: none;
			display: inline-block;
			margin-right: -4px;
			margin-bottom: -5px;
			a{
				padding: 10px 20px;
				background: @white;
				float: left;
			}
		}
		.current-menu-item{
			a{
				color: @white;
				background: @brand-primary;
			}
		}
	}
}
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
