aside#sidebar{
<<<<<<< HEAD
	padding: 20px 0px 20px 20px;
	border-left: 1px solid @gray-lighter;
	.widget{
		border-bottom: 1px solid @gray-lighter;
		margin-bottom: 20px;
		padding-bottom: 20px;
		float: left;
		width: 100%;
		#searchform{
			#s{
				width: 265px;
			}
		}
=======

	.widget{
		
		
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
	}
	ul{
		margin: 0px;
		li{
			list-style: none;
		}
	}
}