blockquote{
<<<<<<< HEAD
	border-left: 5px solid @brand-success;
	background: lighten(@brand-success, 25%);
=======
	border-left: 5px solid @brand-primary;
	background: @gray-lighter;
>>>>>>> 175057a145d727f5260fa72bec52faf7a485b18e
	padding: 20px 15px;
  q{
    quotes: none;
    &:before, &:after{
      content: ''; content: none;
    }
  }
  &:before, &:after{
    content: ''; content: none;
  }
}

.aligncenter {
  margin: 0px auto;
  display: block;
  padding: 10px;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px;
}
.alignleft {
  float: left;
  padding: 0 10px 10px 0;
}
